/*
 * Custom behaviors
 * - Reverse search for Linux terminal (Ctrl + R)
 */

 / {
    macros {
        // =========================
        // Ctrl + R
        // Attiva la reverse search nella history del terminale
        // =========================
        REV_SEARCH: REV_SEARCH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "REV_SEARCH";

            // Sequenza:
            // 1) premi Ctrl
            // 2) premi e rilascia R
            // 3) rilascia Ctrl
            bindings =
                <&macro_press   &kp LCTRL>,
                <&macro_tap     &kp R>,
                <&macro_release &kp LCTRL>;
        };
    };
 };

//Macro per comando history | grep -i
/ {
    macros {
        HISTORY_GREP_I: HISTORY_GREP_I {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "HISTORY_GREP_I";
            bindings =
                <&macro_tap &kp H>,
                <&macro_tap &kp I>,
                <&macro_tap &kp S>,
                <&macro_tap &kp T>,
                <&macro_tap &kp O>,
                <&macro_tap &kp R>,
                <&macro_tap &kp Y>,
                <&macro_tap &kp SPACE>,
                <&macro_tap &kp PIPE>,
                <&macro_tap &kp SPACE>,
                <&macro_tap &kp G>,
                <&macro_tap &kp R>,
                <&macro_tap &kp E>,
                <&macro_tap &kp P>,
                <&macro_tap &kp SPACE>,
                <&macro_tap &kp MINUS>,
                <&macro_tap &kp I>,
                <&macro_tap &kp SPACE>;
        };
    };
};
